<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Account Login</mat-card-title>  
    </mat-card-header>
    <mat-card-content>
        <form class="loginForm">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="pat@example.com" required>
                    <mat-error *ngIf="emailFormControl.hasError('email')">Please enter a valid email address</mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">Email is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput [formControl]="pwdFormControl" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="pwdFormControl.hasError('required')">Password is <strong>required</strong></mat-error>
            </mat-form-field>
            </div>
        </form>
        <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>
    </mat-card-content>
      <mat-card-actions>
          <button (click)="LoginUser()" [disabled]="emailFormControl.invalid && pwdFormControl.invalid" mat-raised-button color="primary">Login</button>
      </mat-card-actions> 
</mat-card>