<h2>Public Todo Lists</h2>

<div>
  <div *ngFor="let list of todoLists">
   <!-- <mat-card> -->
    <mat-nav-list>
            <mat-list-item (click)="getListById()"><div>
            <h4>Title: {{ list.title }}</h4>
            <p>Created by: {{ list.created_by }}</p>
            <!-- <p>Created: {{Date.parse(list.created_at)}}</p> -->
            <!-- Add more details as needed -->
            </div></mat-list-item>
</mat-nav-list>
<!-- </mat-card> -->
<hr>
    <!-- <mat-divider></mat-divider> -->
  </div>
</div>
