.my-list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Styles for the delete button */
  button {
    margin-left: 10px; /* Adjust the margin as needed */
  }